################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/TimeFlo Project/.vs/TimeFlo Project/v16
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.exe.recipe
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.ilk
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.log
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.obj
Application/TimeFlo Project/TimeFlo Project/x64/Debug/vc142.idb
Application/TimeFlo Project/TimeFlo Project/x64/Debug/vc142.pdb
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/CL.command.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/CL.read.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/CL.write.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/link.command.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/link.read.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/link.write.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/rc.command.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/rc.read.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/rc.write.1.tlog
Application/TimeFlo Project/TimeFlo Project/x64/Debug/TimeFlo Project.tlog/TimeFlo Project.lastbuildstate
Application/TimeFlo Project/x64/Debug/TimeFlo Project.exe
Application/TimeFlo Project/x64/Debug/TimeFlo Project.pdb
