################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/TimeFlo Project/.vs/TimeFlo Project/v16
